html{
    background-color:#22334d
}
body {
    padding-top: 60px;
    background-color: #cfcfcf;
    font-family: 'Segoe UI','Segoe',Tahoma,Helvetica,Arial,sans-serif;
    color: #636363;
}
/*Problema content filter margine destro della classe row datalist bootstrap*/
.row{
    margin-right:0px !important;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.thumbnail {
    border: none !important;
    background-color: #cfcfcf;
}
.textLogo{
    font-family:'Segoe UI','Segoe',Tahoma,Helvetica,Arial,sans-serif;
    font-stretch:semi-condensed;
    font-size:1.80em;
    color:#2e5e89;
    font-weight:200;
}
@media (max-width: 992px){
    .textLogo{
        font-size:1.2em;
    }
}
@media (max-width: 768px){
    .textLogo{
        font-size:0em;
    }
    .div2{
        font-size:1em;
    }
}
.text-sezione {
    text-transform: uppercase;
    text-align:center;
}
.imgLogo{
    max-width:200px;
    float:left;
}

.imgUp{
    width:50%;
    border:4px solid #e6e6e6;
}
.imgHome{
    width:100%;
    border:7px solid #f7f7f7;
}
.imgNav{
    height:35px;
}
.img-usr {
    height: 50px;
    border: solid 2px #fff;
    border-radius: 50%;
}

footer{
    padding:10px;
    color:#777777;
    background-color:#22334d;
}
.div1{
    padding-left:40%;
}
.div2 {
    margin-top:1%;
    margin-bottom:1%;
    font-size:1.2em;
}
.divWeb {
}
.divWeb a img{
    height:100px;
    margin:10px;
    transition: all 0.5s ease;
}
.divWeb a:hover img{
    transition: all 0.5s ease;
    -ms-transform: scale(1.3,1.3); /* IE 9 */
    -webkit-transform: scale(1.3,1.3); /* Chrome, Safari, Opera */
    -moz-transform:  scale(1.3,1.3);
    transform: scale(1.3,1.3);
      
}

.panel-collapse{
    
    padding:10px 5px 0px 5px;
    font-style:italic;
    font-size:0.9em;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 6px #000;
}

/*Rende responsive iframe*/
.wrapper         {width:100%;height:100%;margin:0 auto;background:#CCC}
.h_iframe        {position:relative;}
.h_iframe .ratio {display:block;width:100%;height:auto;}
.h_iframe iframe {position:absolute;top:0;left:0;width:100%; height:100%;}

/*bottoni a destra*/
.docu{
    position:fixed;
    bottom:50%;
    right:-20px;
    transition: all ease 1s;
    z-index:9000;
}
.docu ul{
    list-style: none

}
.docu img{
    opacity:0.5;
    right:-10px;
    transition: all ease 1s;
    height:50px;
    padding: 5px 0px 5px 0px;
}
.docu img:hover {
    opacity:1;
    transform: translate(-2em,0);
    right:-30px;
}

.galla {
}

    .galla div {
        overflow: hidden;
        border-radius: 6px;
        float: left;
        margin: 5px;
        background-color:#fff;
        -webkit-box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.75);
        -moz-box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.75);
        box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.75);
    }

    .galla a:hover img {
        -webkit-transform: scale(1.02); 
        -moz-transform: scale(1.02); 
        -o-transform: scale(1.02); 
        opacity:0.5;
        z-index: 0;
        -ms-transform: scale(1.8); /* IE 9 */
        transition: all 0.7s ease-out;
    }

    .galla a img {
        height: 120px;
        text-align: center;
        vertical-align: bottom;
        border-radius: 4px;
        transition: all 1s ease;
    }

.div-assistenza {
    background-image: url('Images/PC-problema.jpg');
    background-size: cover;
    background-position:center;
    min-height:400px;
    color:rgba(50, 50, 50, 0.75);
    text-shadow: 0px 0px 1px #fff;
}
@media (max-width:480px){
    .div-assistenza {
        background-image: none;
    }

}

.plug-assistenza{
    position:fixed;
    right:0;
    bottom:0;
    z-index:9000;
    padding:10px;
    color:#cfcfcf;
    text-shadow:0px 0px 1px #000;
}
    .plug-assistenza i {
        z-index: 9000;
    }
.plug-assistenza .plug{
	position: absolute;
    color:#fff;
    flex-direction: column;
    bottom:0;
    justify-content: center;
    flex-wrap: wrap;
    /*margin: 0 0 0.25em 0;*/
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    /*grid-area: title;*/
    font-size:2em;
    text-align:center;
    z-index:9000;
}
    .plug-assistenza .plug p {
        font-size: 3vw;
    }
    .plug-assistenza img {
        width:50%;
        transition: all ease 1s;
        border-radius:50%;
        border: solid #fff 3px;
    }
@media (max-width: 768px) {
    .plug-assistenza img {
        width: 70%;
        transition: all ease 1s;
        border-radius: 50%;
        border: solid #fff 3px;
        margin-top:10px;
    }
}
    .plug-assistenza img:hover {
        transition: all ease 1s;
        transform:scale(1.4);
        z-index:1;
    }
    .hrl {
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.88), rgba(0, 0, 0, 0));
    }

    .hr2 {
        border: 0;
        height: 1px;
        background-image: linear-gradient(to left, rgba(255, 106, 0, 0), rgba(255, 106, 0, 0.8));
    }
    .hrtop{
        margin-bottom:0px;
    }

a {
    color: #2c3f5c;
}
.text-crc {
    color: #2c3f5c;
}

    .text-crc:hover {
        color: #1b478b;
    }


.btn-crc {
    color: #ffffff;
    background-color: #2c3f5c;
    border-color: #334562;
}
    .btn-crc:hover,
    .btn-crc:focus,
    .btn-crc:active,
    .btn-crc.active,
    .open .dropdown-toggle.btn-crc {
        color: #ffffff;
        background-color: #1b478b;
        border-color: #42669c;
    }

    .btn-crc:active,
    .btn-crc.active,
    .open .dropdown-toggle.btn-crc {
        background-image: none;
    }

    .btn-crc.disabled,
    .btn-crc[disabled],
    fieldset[disabled] .btn-crc,
    .btn-crc.disabled:hover,
    .btn-crc[disabled]:hover,
    fieldset[disabled] .btn-crc:hover,
    .btn-crc.disabled:focus,
    .btn-crc[disabled]:focus,
    fieldset[disabled] .btn-crc:focus,
    .btn-crc.disabled:active,
    .btn-crc[disabled]:active,
    fieldset[disabled] .btn-crc:active,
    .btn-crc.disabled.active,
    .btn-crc[disabled].active,
    fieldset[disabled] .btn-crc.active {
        background-color: #428bca;
        border-color: #357ebd;
    }

    .nav li a {
        border-radius:50% 50% 0 0;
    }