@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Salve " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Disconnetti</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li>@Html.ActionLink("Registrazione", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Accedi", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@
        <li><h2><a href="/Account/Login"><span class="glyphicon glyphicon-user"></span></a></h2></li>
        <li><a></a></li>
        <li><h2><a href="https://login.microsoftonline.com/login.srf?wa=wsignin1.0&rpsnv=4&ct=1449819639&rver=6.1.6206.0&wp=MBI&wreply=https%3A%2F%2Fcrconsultcaravaggio-public.sharepoint.com%2F_forms%2Fdefault.aspx%3Fapr%3D1&lc=1040&id=500046&guests=1"><span class="glyphicon glyphicon-globe"></span></a></h2></li>
    </ul>
}
