
@{
    ViewBag.Title = "Assistenza";
}

<h1 class="text-center">Assistenza<br />
<a href="/Account/Login"><span class="glyphicon glyphicon-user"></span>entra</a>
    </h1><h4 class="text-center">Se sei già nostro cliente entra nell'area riservata per usufruire dei servizi dedicati</h4>
<hr />
<div class="row">
    <div class="col col-md-4">
        <h2 class="text-center">Aziende</h2>
        <div class="thumbnail">
            <img class="imgHome img-circle" src="~/Content/Images/Assistenza1-500.jpg" />
        </div>
        <div class="div1">
            <h3><a href="/Account/Login"><span class="fa fa-eercast"> A contratto</span></a></h3>
            <ul>
                <li>Annuale</li>
                <li>No diritto di chiamata</li>
                <li>Monte ore personalizzati</li>
                <li>Tempi di intervento server</li>
            </ul>
            <h3><a href="/Account/Login"><span class="fa fa-phone-square"> A chiamata</span></a></h3>
            <ul>
                <li>On Site</li>
                <li>Presso laboratorio</li>
            </ul>
            <h3><a href="/Account/Login"><span class="fa fa-calendar-check-o"> Programmata</span></a></h3>
            <ul>
                <li>Fault prevention</li>
                <li>Backup strutturati</li>
                <li>Cleaning</li>
                <li>Manutenzione ordinaria</li>
            </ul>
            <h3><a href="/Account/Login"><span class="fa fa-object-group"> Global</span></a></h3>
            <ul>
                <li>Data Recovery</li>
                <li>Analisi installato</li>
                <li>Progettazione</li>
                <li>Consulenza globale</li>
            </ul>
        </div>

    </div>
    <div class="col col-md-4">
        <h2 class="text-center">Privati</h2>
        <div class="thumbnail">
            <img class="imgHome img-circle" src="~/Content/Images/Assistenza2-500.jpg" />
        </div>
        <div class="div1">
            <h3><a href="/Account/Login"><span class="fa fa-car"> Off Site</span></a></h3>
            <ul>
                <li>System recovery</li>
                <li>Recupero dati</li>
                <li>Ottimizzazione S.O.</li>
                <li>Antivirus</li>
            </ul>
        </div>
    </div>
    <div class="col col-md-4">
        <h2 class="text-center">Vendita</h2>
        <div class="thumbnail">
            <img class="imgHome img-circle" src="~/Content/Images/Assistenza3-500.jpg" />
        </div>
        <div class="div1">
            <h3><a href="/Account/Login"><span class="fa fa-hdd-o">Hardware</span></a></h3>
            <ul>
                <li>Server</li>
                <li>PC</li>
                <li>Notebook</li>
                <li>Ultra Notebook</li>
                <li>Stampanti</li>
            </ul>
            <h3><a href="/Account/Login"><span class="fa fa-spinner">Software</span></a></h3>
            <ul>
                <li>Microsoft S.O.</li>
                <li>Evolution</li>
                <li>Office</li>
                <li>Antivirus</li>
            </ul>
        </div>
    </div>
</div>

