
@{
    ViewBag.Title = "LavoriWeb";
}

<h1 class="text-center">Alcuni dei nostri siti</h1><hr />
<div>
    <a href="www.cascinabardellino.it"<img src="~/Content/Images/Loghi/Bardellino.jpg" />
    <img src="~/Content/Images/Loghi/Civis.png" />
    <img src="~/Content/Images/Loghi/Desidera.jpg" />
    <img src="~/Content/Images/Loghi/Ferri.png" />
    <img src="~/Content/Images/Loghi/FiorDiLoto.jpg" />
    <img src="~/Content/Images/Loghi/Gamba.png" />
    <img src="~/Content/Images/Loghi/LaFonte.jpg" />
    <img src="~/Content/Images/Loghi/NFP.png" />
    <img src="~/Content/Images/Loghi/PMI.png" />
    <img src="~/Content/Images/Loghi/PuntoFitness.jpg" />
    <img src="~/Content/Images/Loghi/Santuario.jpg" />
    <img src="~/Content/Images/Loghi/shotokenshukaiCaravaggio.jpg" />
    <img src="~/Content/Images/Loghi/Verri.jpg" />
</div>

