
@{
    ViewBag.Title = "Networking";
}

<h1 class="text-center">Networking</h1>
<div class="row">
    <div class="col col-md-4">
        <h2 class="text-center">Reti</h2>
        <div class="thumbnail">
            <img class="imgHome img-circle" src="~/Content/Images/NetWork500.jpg" />
        </div>
        <div class="div1" >
            <h3>Wireless</h3>
            <ul>
                <li>Hotel</li>
                <li>Sale congressi</li>
                <li>Domestiche</li>
                <li>SSID condiviso</li>
            </ul>
            <h3>Wired</h3>
            <ul>
                <li>Cablaggio RG45</li>
                <li>Ristrutturazione</li>
                <li>Collaborazione con il posatore</li>
            </ul>
            <h3>LAN</h3>
            <ul>
                <li>Client Server</li>
                <li>Domain</li>
                <li>Workgroup</li>
                <li>Peer to peer</li>
                <li>Home</li>
            </ul>
        </div>

    </div>
    <div class="col col-md-4">
        <h2 class="text-center">Server</h2>
        <div class="thumbnail">
            <img class="imgHome img-circle" src="~/Content/Images/Server500.jpg" />
        </div>
        <div class="div1">
            <h3>Hardware</h3>
            <ul>
                <li>HP</li>
                <li>Win Blu</li>
                <li>Tower</li>
                <li>Rack</li>
                <li>Blade</li>
            </ul>
            <h3>Software</h3>
            <ul>
                <li>Microsoft Server</li>
                <li>Microsoft Hyper-V</li>
                <li>Domain controller</li>
                <li>Active Directory</li>
                <li>Server Web</li>
                <li>Exchange</li>
            </ul>
        </div>
    </div>
    <div class="col col-md-4">
        <h2 class="text-center">Cloud</h2>
        <div class="thumbnail">
            <img class="imgHome img-circle" src="~/Content/Images/Assistenza500.jpg" />
        </div>
        <div class="div1">
            <h3>Data sharing</h3>
            <ul>
                <li>Nas pubblicato</li>
                <li>VPN</li>
                <li>MS Azure</li>
            </ul>
            <h3>App Sharing</h3>
            <ul>
                <li>Office 365</li>
                <li>Exchange Online</li>
                <li>Ms Azure</li>
            </ul>
        </div>
    </div>
</div>
