
@{
    ViewBag.Title = "Networking";
}

<h1 class="text-center">
    Networking<br />
    <a href="/Account/Login"><span class="glyphicon glyphicon-user"></span>entra</a>
</h1>
<h4 class="text-center">Se sei già nostro cliente entra nell'area riservata per usufruire dei servizi dedicati</h4><hr />
<div class="row">
    <div class="col col-md-4">
        <h2 class="text-center">Reti</h2>
        <div class="thumbnail">
            <img class="imgHome img-circle" src="~/Content/Images/NetWorking1-500.jpg" />
        </div>
        <div class="div1">
            <h3><a href="/Account/Login"><span class="glyphicon glyphicon-user"></span>Wireless</a></h3>
            <ul>
                <li>Hotel</li>
                <li>Sale congressi</li>
                <li>Domestiche</li>
                <li>SSID condiviso</li>
                
            </ul>
            <h3><a href="/Account/Login"><span class="glyphicon glyphicon-user"></span>Wired</a></h3>
            <ul>
                <li>Cablaggio RG45</li>
                <li>Ristrutturazione</li>
                <li>Collaborazione con il posatore</li>
            </ul>
            @*<ul>
                <li id="collapse5">
                    <div>
                        <span>
                            <a data-toggle="collapse" data-parent="#collapse5" href="#collapse-5">
                                Cablaggio RG45
                            </a>
                        </span>
                        <div id="collapse-5" class="panel-collapse collapse">
                            <div>
                                Progettiamo reti via cavo in categoria 5 5E con cavo a 8 fili 4 coppie.
                            Ogni tratta viene cablata e testata sul posto
                            </div><hr />
                        </div>
                    </div>
                </li>
                <li id="collapse6">
                    <div>
                        <span>
                            <a data-toggle="collapse" data-parent="#collapse6" href="#collapse-6">
                                Ristrutturazione
                            </a>
                        </span>
                        <div id="collapse-6" class="panel-collapse collapse">
                            <div>
                                Operiamo anche su reti già in posa testanto l'efficienza della comunicazione ed intervenendo sui punti di testa o su tutta la tratta. Nessuna interruzione di lavoro: interveniamo sulle singole tratte attivando in parallelo la nuova connessione.
                            Se necessario interveniamo anche in giorni di chiusura sabato o domenica
                            </div><hr />
                        </div>
                    </div>
                </li>
                <li id="collapse7">
                    <div>
                        <span>
                            <a data-toggle="collapse" data-parent="#collapse7" href="#collapse-7">
                                Collaborazione con il posatore
                            </a>
                        </span>
                        <div id="collapse-7" class="panel-collapse collapse">
                            <div>
                                Collaboriamo con il vostro posatore fornendo il materiale o anche solo la supervisione e la progettazione 
                            </div><hr />
                        </div>
                    </div>
                </li>
            </ul>*@
            <h3><a href="/Account/Login"><span class="glyphicon glyphicon-user"></span>LAN</a></h3>
            <ul>
                <li>Client Server</li>
                <li>Domain</li>
                <li>Workgroup</li>
                <li>Peer to peer</li>
            </ul>
            @*<ul>
                <li id="collapse8">
                    <div>
                        <span>
                            <a data-toggle="collapse" data-parent="#collapse8" href="#collapse-8">
                                Client Server
                            </a>
                        </span>
                        <div id="collapse-8" class="panel-collapse collapse">
                            <div>
                                I dati sono centralizzati sul disco ad alte prestazioni di un server.<br/>
                            la condivisione di risprse permette ad ogni client di avere a disposizione un disco mappato coma se fosse installato nel proprio pc.
                            I dati vengono assicurati dal Fault-Tollerance Raid0, Raid1, Raid5 a salvati da procedure automatica su unità esterne intercambiabili.
                            </div><hr />
                        </div>
                    </div>
                </li>
                <li id="collapse9">
                    <div>
                        <span>
                            <a data-toggle="collapse" data-parent="#collapse6" href="#collapse-9">
                                Domain
                            </a>
                        </span>
                        <div id="collapse-9" class="panel-collapse collapse">
                            <div>
                                Gestione utenti, condivisione risorse, registrazione dispositivi, regolazione dei permessi di accesso sono affidati al Domain Controller.<br/>
                                Per ogni rete viene creato un dominio local personalizzato interno all'azienda con gestione ad oggetti
                            </div><hr />
                        </div>
                    </div>
                </li>
                <li id="collapsea">
                    <div>
                        <span>
                            <a data-toggle="collapse" data-parent="#collapsea" href="#collapse-a">
                                Workgroup
                            </a>
                        </span>
                        <div id="collapse-a" class="panel-collapse collapse">
                            <div>
                                Per le realtà di piccole dimensioni 2/3 utenti dove l'investimento del server non è ritenuto opportuno, realizziamo reti Workgroup<br/>
                            La condivisione dei dati è affidata a dispositivi autonomi (NAS, HD Shared) e la gestione dei permessi e sincronizzata con gli utenti client
                            </div><hr />
                        </div>
                    </div>
                </li>
                <li id="collapseb">
                    <div>
                        <span>
                            <a data-toggle="collapse" data-parent="#collapseb" href="#collapse-b">
                                Peer to peer
                            </a>
                        </span>
                        <div id="collapse-b" class="panel-collapse collapse">
                            <div>
                                Una rete anche a casa. Ogni dispositivo diventa server e client. I permessi di lettura sono gestiti dal dispositivo (pc, HD esterno, unità Net). Si può condividere periferiche (stampanti, scanner) e connessione ADSL.
                            </div><hr />
                        </div>
                    </div>
                </li>
            </ul>*@
        </div>

    </div>
    <div class="col col-md-4">
        <h2 class="text-center">Server</h2>
        <div class="thumbnail">
            <img class="imgHome img-circle" src="~/Content/Images/NetWorking2-500.jpg" />
        </div>
        <div class="div1">
            <h3><a href="/Account/Login"><span class="glyphicon glyphicon-user"></span>Hardware</a></h3>
            <ul>
                <li>PC</li>
                <li>Notebook e tablet</li>
                <li>Stampanti</li>
                <li>Server</li>
            </ul>
            @*
                <ul>
                <li id="collapsec">
                    <div>
                        <span>
                            <a data-toggle="collapse" data-parent="#collapsec" href="#collapse-c">
                                PC
                            </a>
                        </span>
                        <div id="collapse-c" class="panel-collapse collapse">
                                Personal Computer delle migliori marche
                            <ul>
                                    <li>Acer</li>
                                    <li>Asus</li>
                                    <li>HP</li>
                                    <li>Lenovo</li>
                                    <li>MSI</li>
                                    <li>WinBlu</li>
                                </ul>
                            <hr />
                        </div>
                    </div>
                </li>
                <li id="collapsed">
                    <div>
                        <span>
                            <a data-toggle="collapse" data-parent="#collapsed" href="#collapse-d">
                                Notebook e tablet
                            </a>
                        </span>
                        <div id="collapse-d" class="panel-collapse collapse">
                            Tablet Notebook e Ultranotebook
                            <ul>
                                <li>Acer</li>
                                <li>Apple</li>
                                <li>Asus</li>
                                <li>HP</li>
                                <li>Lenovo</li>
                            </ul>
                            <hr />
                        </div>
                    </div>
                </li>
                <li id="collapsee">
                    <div>
                        <span>
                            <a data-toggle="collapse" data-parent="#collapsee" href="#collapse-e">
                                Stampanti
                            </a>
                        </span>
                        <div id="collapse-e" class="panel-collapse collapse">
                            Laser monocromatiche e a colori, Ink jet, a led, anche grandi formati<br/><br/>
                            <ul>
                                <li>Brother</li>
                                <li>Canon</li>
                                <li>Epson</li>
                                <li>HP</li>
                                <li>Samsung</li>
                            </ul>
                            <hr />
                        </div>
                    </div>
                </li>
                <li id="collapsef">
                    <div>
                        <span>
                            <a data-toggle="collapse" data-parent="#collapsef" href="#collapse-f">
                                Server
                            </a>
                        </span>
                        <div id="collapse-f" class="panel-collapse collapse">
                            Server aziendali configurazione personalizzata. Tower, Rack, Blade<br/><br/>
                            <ul>
                                <li>HP</li>
                                <li>Win Blu</li>
                            </ul>
                            <hr />
                        </div>
                    </div>
                </li>
            </ul>
                *@
            <h3><a href="/Account/Login"><span class="glyphicon glyphicon-user"></span>Software</a></h3>

            <ul>
                <li>Microsoft Server</li>
                <li>Microsoft Hyper-V</li>
                <li>Domain controller</li>
                <li>Active Directory</li>
                <li>Server Web</li>
                <li>Exchange</li>
            </ul>
        </div>
    </div>
    <div class="col col-md-4">
        <h2 class="text-center">Cloud</h2>
        <div class="thumbnail">
            <img class="imgHome img-circle" src="~/Content/Images/Networking3-500.jpg" />
        </div>
        <div class="div1">
            <h3><a href="/Account/Login"><span class="glyphicon glyphicon-user"></span>Data sharing</a></h3>
            <ul>
                <li>Nas pubblicato</li>
                <li>VPN</li>
                <li>MS Azure</li>
            </ul>
            <h3><a href="/Account/Login"><span class="glyphicon glyphicon-user"></span>App Sharing</a></h3>
            <ul>
                <li>Office 365</li>
                <li>Exchange Online</li>
                <li>Ms Azure</li>
            </ul>
        </div>
    </div>
</div>
