
@{
    ViewBag.Title = "Networking";
}

<h1 class="text-center">Networking</h1><hr />
<div class="row">
    <div class="col col-md-4">
        <h2 class="text-center">Reti</h2>
        <div class="thumbnail">
            <img class="imgHome img-circle" src="~/Content/Images/NetWorking1-500.jpg" />
        </div>
        <div class="div1" >
            <h3>Wireless</h3>
            <ul>
                <li id="collapse1">
	                <div >
			                <span>
				                <a data-toggle="collapse" data-parent="#collapse1" href="#collapse-1">
					                Hotel
				                </a>
			                </span>
		                <div id="collapse-1" class="panel-collapse collapse">
			                <div >
				                Descrizione per hotel
			                </div><hr/>
		                </div>
	                </div>
                </li>
                <li id="collapse2">
                    <div>
                        <span>
                            <a data-toggle="collapse" data-parent="#collapse2" href="#collapse-2">
                                Sale congressi
                            </a>
                        </span>
                        <div id="collapse-2" class="panel-collapse collapse">
                            <div>
                                Descrizione per sale congressi
                            </div><hr />
                        </div>
                    </div>
                </li>
                <li id="collapse3">
                    <div>
                        <span>
                            <a data-toggle="collapse" data-parent="#collapse3" href="#collapse-3">
                                Domestiche
                            </a>
                        </span>
                        <div id="collapse-3" class="panel-collapse collapse">
                            <div >
                                Descrizione per domestiche
                            </div><hr />
                        </div>
                    </div>
                </li>
                <li id="collapse4">
                    <div>
                        <span>
                            <a data-toggle="collapse" data-parent="#collapse4" href="#collapse-4">
                                SSID condiviso
                            </a>
                        </span>
                        <div id="collapse-4" class="panel-collapse collapse">
                            <div >
                                Descrizione per SSID condiviso
                            </div><hr />
                        </div>
                    </div>
                </li>
            </ul>
            <h3>Wired</h3>
            <ul>
                <li id="collapse5">
                    <div>
                        <span>
                            <a data-toggle="collapse" data-parent="#collapse5" href="#collapse-5">
                                Cablaggio RG45
                            </a>
                        </span>
                        <div id="collapse-5" class="panel-collapse collapse">
                            <div>
                                Descrizione per cablaggio RG45
                            </div><hr />
                        </div>
                    </div>
                </li>
                <li id="collapse6">
                    <div>
                        <span>
                            <a data-toggle="collapse" data-parent="#collapse6" href="#collapse-6">
                                Ristrutturazione
                            </a>
                        </span>
                        <div id="collapse-6" class="panel-collapse collapse">
                            <div>
                                Descrizione per ristrutturazione
                            </div><hr />
                        </div>
                    </div>
                </li>
                <li id="collapse7">
                    <div>
                        <span>
                            <a data-toggle="collapse" data-parent="#collapse7" href="#collapse-7">
                                Collaborazione con il posatore
                            </a>
                        </span>
                        <div id="collapse-7" class="panel-collapse collapse">
                            <div>
                                Descrizione per collaborazione con il posatore
                            </div><hr />
                        </div>
                    </div>
                </li>
            </ul>
            <h3>LAN</h3>
            <ul>
                    <li id="collapse8">
                        <div>
                            <span>
                                <a data-toggle="collapse" data-parent="#collapse8" href="#collapse-8">
                                    Client Server
                                </a>
                            </span>
                            <div id="collapse-8" class="panel-collapse collapse">
                                <div>
                                    Descrizione per client server
                                </div><hr />
                            </div>
                        </div>
                    </li>
                    <li id="collapse9">
                        <div>
                            <span>
                                <a data-toggle="collapse" data-parent="#collapse6" href="#collapse-9">
                                    Domain
                                </a>
                            </span>
                            <div id="collapse-9" class="panel-collapse collapse">
                                <div>
                                    Descrizione per domani
                                </div><hr />
                            </div>
                        </div>
                    </li>
                    <li id="collapsea">
                        <div>
                            <span>
                                <a data-toggle="collapse" data-parent="#collapsea" href="#collapse-a">
                                    Workgroup
                                </a>
                            </span>
                            <div id="collapse-a" class="panel-collapse collapse">
                                <div >
                                    Descrizione per Workgroup
                                </div><hr />
                            </div>
                        </div>
                    </li>
                    <li id="collapseb">
                        <div>
                            <span>
                                <a data-toggle="collapse" data-parent="#collapseb" href="#collapse-b">
                                    Peer to peer
                                </a>
                            </span>
                            <div id="collapse-b" class="panel-collapse collapse">
                                <div >
                                    Descrizione per peer to peer
                                </div><hr />
                            </div>
                        </div>
                    </li>
                </ul>
        </div>

    </div>
    <div class="col col-md-4">
        <h2 class="text-center">Server</h2>
        <div class="thumbnail">
            <img class="imgHome img-circle" src="~/Content/Images/NetWorking2-500.jpg" />
        </div>
        <div class="div1">
            <h3>Hardware</h3>
            <ul>
                <li>HP</li>
                <li>Win Blu</li>
                <li>Tower</li>
                <li>Rack</li>
                <li>Blade</li>
            </ul>
            <h3>Software</h3>
            <ul>
                <li>Microsoft Server</li>
                <li>Microsoft Hyper-V</li>
                <li>Domain controller</li>
                <li>Active Directory</li>
                <li>Server Web</li>
                <li>Exchange</li>
            </ul>
        </div>
    </div>
    <div class="col col-md-4">
        <h2 class="text-center">Cloud</h2>
        <div class="thumbnail">
            <img class="imgHome img-circle" src="~/Content/Images/Networking3-500.jpg" />
        </div>
        <div class="div1">
            <h3>Data sharing</h3>
            <ul>
                <li>Nas pubblicato</li>
                <li>VPN</li>
                <li>MS Azure</li>
            </ul>
            <h3>App Sharing</h3>
            <ul>
                <li>Office 365</li>
                <li>Exchange Online</li>
                <li>Ms Azure</li>
            </ul>
        </div>
    </div>
</div>
