
@{
    ViewBag.Title = "Statistiche";
}

<h2>@ViewBag.Title</h2>
<div class="wrapper">
    <div class="h_iframe">
        <!-- a transparent image is preferable -->
        <img class="ratio" src="http://placehold.it/16x9" />
        <iframe src="http://cr-consult.it/plesk-stat/webstat/" frameborder="0" allowfullscreen></iframe>
    </div>
</div>