
@{
    ViewBag.Title = "WebPage";
}


<h1 class="text-center">
    Web App<br />
    <a href="/Account/Login"><span class="glyphicon glyphicon-user"></span>entra</a>
</h1>
<h4 class="text-center">Se sei già nostro cliente entra nell'area riservata per usufruire dei servizi dedicati</h4>
<hr />

<div class="container">

    <div class="row">
        <div class="col col-md-4">
            <h2 class="text-center">Sviluppo</h2>
            <div class="thumbnail">
                <img class="imgHome img-circle" src="~/Content/Images/WebApp1-500.jpg" />
            </div>
            <div class="div1">
                <h3><a href="/Account/Login"><span class="fa fa-globe"> Web</span></a></h3>
                <ul>
                    <li>Asp.Net</li>
                    <li>Php</li>
                    <li>HTML5</li>
                    <li>CSS</li>
                </ul>
                <h3><a href="/Account/Login"><span class="fa fa-database"> Database</span></a></h3>
                <ul>
                    <li>Ms-Sql</li>
                    <li>MySql</li>
                    <li>Postgress</li>
                    <li>MDB</li>
                </ul>
            </div>

        </div>
        <div class="col col-md-4">
            <h2 class="text-center">CMS</h2>
            <div class="thumbnail">
                <img class="imgHome img-circle" src="~/Content/Images/WebApp2-500.jpg" />
            </div>
            <div class="text-left  div1">
                <h3><a href="/Account/Login"><span class="fa fa-puzzle-piece"> Piattaforma</span></a></h3>
                <ul>
                    <li>Joomla</li>
                    <li>Drupal</li>
                </ul>
            </div>
        </div>
        <div class="col col-md-4">
            <h2 class="text-center">In produzione</h2>
            <div class="thumbnail">
                <img class="imgHome img-circle" src="~/Content/Images/WebApp3-500.jpg" />
            </div>
            <div class="text-left  div1">
                <h3><a href="/Account/Login"><span class="fa fa-google-wallet"> Working online</span></a></h3>
                <ul>
                    <li>Restyling</li>
                    <li>Test environment</li>
                    <li>Data transfert</li>
                </ul>
            </div>
        </div>
    </div>
</div>

    <hr />
    <h1 class="text-center">Alcuni dei nostri lavori</h1>
    <hr />
    <div class="row">
        <div class="galla">
            <div>
                <a target="_blank" href="http://www.shotokenshukai.eu/"><img src="~/Content/Images/Loghi/shotokenshukaiCaravaggio.jpg" /></a>
            </div>
        </div>
        <div class="galla">
            <div>
                <a target="_blank" href="http://www.teatrodesidera.it/"><img src="~/Content/Images/Loghi/Desidera.jpg" /></a>

            </div>
        </div>
        <div class="galla">
            <div>
                <a target="_blank" href="http://www.civisimmobiliare.eu/"><img src="~/Content/Images/Loghi/Civis.png" /></a>

            </div>
        </div>
        <div class="galla">
            <div>
                <a target="_blank" href="http://www.cascinabardellino.it/"><img src="~/Content/Images/Loghi/Bardellino.jpg" /></a>

            </div>
        </div>
        <div class="galla">
            <div>

                <a target="_blank" href="http://www.santimerio.it/"><img src="~/Content/Images/Loghi/Simerio.jpg" /></a>
            </div>
        </div>
        <div class="galla">
            <div>
                <a target="_blank" href="http://www.concordessemper.cloud/"><img src="~/Content/Images/Loghi/ConcordesSmall.png" /></a>

            </div>
        </div>
        <div class="galla">
            <div>
                <a target="_blank" href="http://www.ferriaugusto.it/"><img src="~/Content/Images/Loghi/Ferri.png" /></a>

            </div>
        </div>
        <div class="galla">
            <div>
                <a target="_blank" href="http://www.puntofitnesscaravaggio.it/"><img src="~/Content/Images/Loghi/PuntoFitness.jpg" /></a>

            </div>
        </div>
        <div class="galla">
            <div>
                <a target="_blank" href="http://www.hotelverri.it/"><img src="~/Content/Images/Loghi/Verri.jpg" /></a>

            </div>
        </div>
        <div class="galla">
            <div>
                <a target="_blank" href="http://www.pmifincons.it/"><img src="~/Content/Images/Loghi/PMI.png" /></a>

            </div>
        </div>
        <div class="galla">
            <div>
                <a target="_blank" href="http://www.ncprogram.com/"><img src="~/Content/Images/Loghi/NcProgram.png" /></a>

            </div>
        </div>

        <div class="galla">
            <div>
                <a target="_blank" href="http://comeunfiordiloto.it/"><img src="~/Content/Images/Loghi/FiorDiLoto.jpg" /></a>

            </div>
        </div>
        <div class="galla">
            <div>
                <a target="_blank" href="http://www.gambamodelli.it/"><img src="~/Content/Images/Loghi/Gamba.png" /></a>

            </div>
        </div>
        <div class="galla">
            <div>
                <a target="_blank" href="http://www.camen.org/"><img src="~/Content/Images/Loghi/camen.png" /></a>

            </div>
        </div>
        <div class="galla">
            <div>
                <a target="_blank" href="http://www.lapadellaelabrace.it/"><img src="~/Content/Images/Loghi/Padella.png" /></a>

            </div>
        </div>
        <div class="galla">
            <div>
                <a target="_blank" href="http://www.officinacavalli.it/"><img src="~/Content/Images/Loghi/OfficinaCavalli.jpg" /></a>

            </div>
        </div>
        <div class="galla">
            <div>
                <a target="_blank" href="http://www.nuovoristorantedellafonte.it/default.aspx"><img src="~/Content/Images/Loghi/LaFonte.jpg" /></a>

            </div>
        </div>
        <div class="galla">
            <div>
                <a target="_blank" href="http://www.santuariodicaravaggio.it"><img src="~/Content/Images/Loghi/Santuario.jpg" /></a>

            </div>
        </div>
    </div>
<hr />
<h3>Siti clienti / amici</h3>
<hr/>
<div class="row">

    <div class="galla">
        <div>
            <a target="_blank" href="http://www.ferrinardi.it/"><img src="~/Content/Images/Loghi/ferrinardi.jpg" /></a>

        </div>
    </div>
    <div class="galla">
        <div>
            <a target="_blank" href="http://www.donazione.comitatomarialetiziaverga.it/"><img src="~/Content/Images/Loghi/LetiziaVerga.jpg" /></a>

        </div>
    </div>
    <div class="galla">
        <div>
            <a target="_blank" href="http://www.shuheimatsuyama.com/"><img src="~/Content/Images/Loghi/matsuyama.jpg" /></a>

        </div>
    </div>
    <div class="galla">
        <div>
            <a target="_blank" href="http://www.mariocontel.com//"><img src="~/Content/Images/Loghi/Contel.JPG" /></a>

        </div>
    </div>
    <div class="galla">
        <div>
            <a target="_blank" href="http://www.caseificiodefendi.it/"><img src="~/Content/Images/Loghi/defendi.jpg" /></a>

        </div>
    </div>
    <div class="galla">
        <div>
            <a target="_blank" href="http://www.fikta.it/"><img src="~/Content/Images/Loghi/Fikta.JPG" /></a>

        </div>
    </div>
    <div class="galla">
        <div>
            <a target="_blank" href="http://www.istitutoshotokanitalia.it/"><img src="~/Content/Images/Loghi/ISI.JPG" /></a>

        </div>
    </div>
    <div class="galla">
        <div>
            <a target="_blank" href="http://www.conventinosorgente.it/"><img src="~/Content/Images/Loghi/logo_s.JPG" /></a>

        </div>
    </div>
    <div class="galla">
        <div>
            <a target="_blank" href="http://www.studiolongaretti.it/"><img src="~/Content/Images/Loghi/Loneld.jpg" /></a>

        </div>
    </div>
    <div class="galla">
        <div>
            <a target="_blank" href="http://www.shotokenshukai.it/Homepage.asp"><img src="~/Content/Images/Loghi/Shotoken.JPG" /></a>

        </div>
    </div>
    <div class="galla">
        <div>
            <a target="_blank" href="http://www.pizzeriaziogiglio.it/"><img src="~/Content/Images/Loghi/Zio.jpg" /></a>

        </div>
    </div>

</div>


