
@{
    ViewBag.Title = "WebPage";
}

<h1 class="text-center">Web App</h1>
<div class="row">
    <div class="col col-md-4">
        <h2 class="text-center">Sviluppo</h2>
        <div class="thumbnail">
            <img class="imgHome img-circle" src="~/Content/Images/NetWork500.jpg" />
        </div>
        <div class="div1">
            <h3>Web</h3>
            <ul>
                <li>Asp.Net</li>
                <li>Php</li>
                <li>HTML5</li>
                <li>CSS</li>
            </ul>
            <h3>Database</h3>
            <ul>
                <li>Ms-Sql</li>
                <li>MySql</li>
                <li>Postgress</li>
                <li>MDB</li>
            </ul>
        </div>

    </div>
    <div class="col col-md-4">
        <h2 class="text-center">CMS</h2>
        <div class="thumbnail">
            <img class="imgHome img-circle" src="~/Content/Images/Server500.jpg" />
        </div>
        <div class="text-left  div1">
            <h3>Piattaforma</h3>
            <ul>
                <li>Joomla</li>
                <li>Drupal</li>
            </ul>
        </div>
    </div>
    <div class="col col-md-4">
        <h2 class="text-center">In produzione</h2>
        <div class="thumbnail">
            <img class="imgHome img-circle" src="~/Content/Images/Assistenza500.jpg" />
        </div>
        <div class="text-left  div1">
            <h3>Working online</h3>
            <ul>
                <li>Restyling</li>
                <li>Test environment</li>
                <li>Data transfert</li>
            </ul>
        </div>
       </div>
</div>

